In [59]:
import pandas as pd
import numpy as np
from tqdm import tqdm

from sklearn.metrics import r2_score

In [18]:
data = pd.read_csv(r'C:\Users\91979\Desktop\Jup_NoteBks\BDL\Asgt_3\example\DVC_repo\data\99999913724.csv')

In [29]:
data['DATE'] = pd.to_datetime(data['DATE'])
data.head(2)

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,99999913724,2023-01-01 23:59:00,39.37778,-74.42361,3.0,"ATLANTIC CITY MARINA, NJ US",SOD,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,99999913724,2023-01-02 23:59:00,39.37778,-74.42361,3.0,"ATLANTIC CITY MARINA, NJ US",SOD,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
quantities = list(data)

daily_q = []
monthly_q = []

for quantity in quantities:
    if "Daily" in quantity:
        daily_q.append(quantity[5:])

    elif "Monthly" in quantity:
        monthly_q.append(quantity[7:])

In [22]:
common_q = set(daily_q).intersection(set(monthly_q))

In [28]:
list(common_q)

['DepartureFromNormalAverageTemperature']

In [53]:
monthly_avg_calc = data.groupby(data['DATE'].dt.to_period('M'))['DailyDepartureFromNormalAverageTemperature'].mean()

In [54]:
monthly_avg_calc_list = list(monthly_avg_calc)

In [55]:
monthly_avg_obs_from_data = data.groupby(data['DATE'].dt.to_period('M'))['MonthlyDepartureFromNormalAverageTemperature'].sum()

In [56]:
monthly_avg_obs_list = []
for i in range(len(list(monthly_avg_obs_from_data))):
    if list(monthly_avg_obs_from_data)[i] !=0 :
        monthly_avg_obs_list.append(list(monthly_avg_obs_from_data)[i])
    else :
        monthly_avg_obs_list.append(list(monthly_avg_calc)[i])

In [57]:
monthly_avg_obs_list

[8.8, 5.8, 2.0, 4.2, -1.3, -2.0, 1.2, -0.4, 1.4, 2.6, -0.9, 5.1033333333333335]

In [58]:
monthly_avg_calc_list

[9.012903225806454,
 6.007142857142857,
 2.638709677419355,
 4.730000000000001,
 -0.6322580645161291,
 -1.4366666666666665,
 1.5129032258064514,
 -0.19354838709677416,
 1.2766666666666666,
 2.5677419354838706,
 -0.9466666666666667,
 5.1033333333333335]

In [60]:
r2 = r2_score(monthly_avg_obs_list, monthly_avg_calc_list)

print("R2 Score:", r2)

R2 Score: 0.9854823379780282